<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Pennterest</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li><a href="/" alt="Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="/pins/new" alt="New pin"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></a></li>
        <li><a href="/boards/new" alt="New pin"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
      </ul>

      <form id="search-form" action="/pins" accept-charset="UTF-8" method="get" class="navbar-form navbar-left" role="search"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="form-group">
          <input type="text" class="form-control" name="search" id="search" placeholder="Search by category">
        </div>
        <button type="submit" class="btn btn-default" name="commit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
          <li><a href="/users/<%= current_user.id %>" alt="My profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
        <% else %>
          <li><a href="/users/sign_up" alt="Sign up"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
          <li><a href="/users/sign_in" alt="Log in"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></li>
        <% end %>
        <li><a href="/users" alt="All profiles"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1 class="text-center">Pennterest</h1><br>