<p id="notice"><%= notice %></p>

<div class="container"><h3>Click on a user to see their profile:</h3><br>

  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-unstyled lead"><%= link_to user.name, user %>: <small><%= user.about_me %></small></li>
        <!-- <td></td> -->
    <% end %>
</ul></div>
