<p id="notice"><%= notice %></p>

<div class="container"><h3>Click on a user to see their profile:</h3>

  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item list-group-item-danger"><%= link_to user.name, user %></li>
        <!-- <td><%= user.about_me %></td> -->
    <% end %>
</ul></div>
